@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

body {
    background: #fbf9f3;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.App {
    height: 400px;
    width: 300px;
    position: relative;
}

.Display {
    background: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 29px;
    height: 20%;
    overflow: hidden;
    position: relative;
}

.Buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80%
}

.Button {
    background: #cad2c5;
    display: flex;
    box-sizing: border-box;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 25%;
    font-size: 24px;
    color: black;
    height: 20%;
    min-width: 25%
}

.Button[data-size="2"] {
    height: 40%;
}

.Button[data-value="null"] {
    pointer-events: none;
}

.Button:hover {
    background: #d7ddd3;
    cursor: pointer;
}
